body{
    background-image: url(./images/bg.png);
    }

.center{
    position: absolute;
    left: 50%;
    top: 50;
    transform: translate(-50%,-50%);
    }

img[alt=hintergrundbox]{
    position: absolute;
    left:50%;
    top: 50%;
    transform:  translate(-50%, -50%);
    margin: auto;
    text-align: center;}

section{ 
        color: seashell;
        width: 520px;
        font-weight: 600;
        font-size: 1.8em;
        }
section.center{top: 45%;
                }

img[alt=sternleer]{
            position: absolute;
            top: 60%;
            left: 70%;
                        }

img[alt=sternleer2]{
                position: absolute;
                top: 70%;
                left: 3%;
                          }

img[alt=sternleer3]{
                position: absolute;
                top: 100%;
                left: 42%;
                            }
img[alt=sternleer4]{
                position: absolute;
                top: 30%;
                left: 19%;
                             }
.stern:hover{background-image: url(./images/stern_hover.png);}
        
img[alt=sterngelb]{
            position: absolute;
            top: 11%;
            left: 23%;}
