stylesheetaufgabe_2.css
section {width: 800px;
        margin: auto;}


nav     {position: fixed;
        top: 0px;
        right: 0px;}


a       {font-size: 20px;
        color: white;
        background: rgb(0, 1, 65);}


a:hover {background: rgb(189, 238, 238);}

body    {text-align: center;
        width: 800px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(./images/bg.png);}

ul      {list-style-type: none;
        margin: 0;
        padding: 0;}

li      {float: left;
        border-right: 1px solid white;}

li a {  display: block;
        text-decoration: none;
        text-align: center;
        padding: 10px}

li:last-child{border-right: none;}

.active {background-color: rgb(250, 192, 237);}
.leftbottomborder {border-bottom-left-radius: 10px;}
.rightbottomborder {border-bottom-right-radius: 10px;}