/*Allgemeine Anweisung=Smartphone-Darstellung
This applies from 0px to 370px*/

/*allgemein (Fragefeld und Hintergrund*/



/*mobile screen*/
@media screen and (max-width: 600px)
{ 
    body{background-image: url(images/bg.jpg);
        background-repeat: no-repeat;
        
        background-size: cover !important;
        height: 500px;
        background-color: rgb(0, 63, 146);
       
        }

    img[alt=question]{width: auto;
                        margin: auto;
                        text-align: center;
                        position: absolute;
                        right: -162px;
                        top: -53px;
                        width: 400px;
                        height: 120px;
                       }
    img[alt=answer1 alt=answer2]{width: auto;
        margin: auto;
        text-align: center;
        position: absolute;
        right: -162px;
        top: -53px;
        width: 400px;
        height: 120px;}
    
    .question{position: absolute;
        left:50%;
        top: 18%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        width: 70px;
        position: absolute;
      
     
    }
    .questioncontainer{background-size: cover;}
    
    .container{width: 70px;}
    .containerantworten{/*nichts funktioniert um die Größe/Breite zu ändern D: */}

    /*Start-Seite--> Button etc*/
    .text{position: absolute; left:50%;
        top: 45%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        width: 200px;}
    .button{position: absolute; left:50%;
        top: 45%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;}
    
    .warnung{position: absolute; left:50%;
        top: 35%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        color: navy;}
    
    /*Frage-Seiten--> AntwortFelder*/
    .a2{position: absolute;
        left:50%;
        top: 45%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        }
    
    .a3{position: absolute;
        left:50%;
        top: 56%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        
        }
    
    .a4{position: absolute;
        left:50%;
        top: 66%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        }
    
    .a1{position: absolute;
        left:50%;
        top: 35%;
        transform:  translate(-50%, -50%);
        text-align: center;
        z-index: 1;

        }
    .joker{position: absolute;
        left:50%;
        top: 80%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        z-index: 1;}
    
    .answer:hover{background-image: url(./images/answer_over.png) !important;
                  
                }
                
    
    p{color: antiquewhite;}
    .p1{        position: absolute;
                left: 50%;
                top: 15%;
                font-size: 14px;}
    .p2{        position: absolute;
                left:50%;
                top: 47%;
                font-size: 14px;}
    .p3{        position: absolute;
                left:50%;
                top: 47%;
                font-size: 14px;}
    .p4{position: absolute;
        left:50%;
        top: 48%;
        font-size: 14px;}
    
    h1{color: antiquewhite;
        font-size: 17px;}
    
    .p5{position: absolute;
        left:50%;
        top: 40%;}
    
    .warnung{display: none;}
    

    .answer, .question{text-align: center;
                       }
}
@media screen and (min-width: 620px)
{
       
        img[alt=question]{display: none;}
        body{background-image: url(images/bg.jpg);
            background-repeat: no-repeat;
            
            background-size: cover !important;
            
            background-color: rgb(0, 63, 146);
           
            }
    }