/*Allgemeine Anweisung=Smartphone-Darstellung
This applies from 0px to 370px*/

/*allgemein (Fragefeld und Hintergrund*/



/*mobile screen*/
@media screen and (max-width: 600px)
{ 
    body{background-image: url(images/bg.jpg);
        background-repeat: no-repeat;
        
        background-size: cover;
        }

    img[alt=question]{width: auto;
                        margin: auto;
                        text-align: center;
                        position: absolute;
                        right: -162px;
                        top: -53px;
                        width: 400px;
                        height: 120px;
                       }
    img[alt=answer1 alt=answer2]{width: auto;
        margin: auto;
        text-align: center;
        position: absolute;
        right: -162px;
        top: -53px;
        width: 400px;
        height: 120px;}
    
    .question{position: absolute;
        left:50%;
        top: 18%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        width: 70px;
        position: absolute;
                     
     
    }
    .questioncontainer{background-size: cover;}
    
    .container{width: 70px;}

    /*Start-Seite--> Button etc*/
    .text{position: absolute; left:50%;
        top: 45%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;}
    .button{position: absolute; left:50%;
        top: 45%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;}
    
    .warnung{position: absolute; left:50%;
        top: 35%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        color: navy;}
    
    /*Frage-Seiten--> AntwortFelder*/
    .a2{position: absolute;
        left:50%;
        top: 37%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        }
    
    .a3{position: absolute;
        left:50%;
        top: 43%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        }
    
    .a4{position: absolute;
        left:50%;
        top: 49%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        }
    
    .a1{position: absolute;
        left:50%;
        top: 31%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        z-index: 1;
        }
    .joker{position: absolute;
        left:50%;
        top: 6%;
        transform:  translate(-50%, -50%);
        margin: auto;
        text-align: center;
        z-index: 1;}
    
    .answer:hover{background-image: url(./images/answer_over.png);}
    
    p{color: antiquewhite;}
    .p1{        position: absolute;
                left: 50%;
                top: 45%;}
    .p2{        position: absolute;
                left:50%;
                top: 47%;}
    .p3{        position: absolute;
                left:50%;
                top: 47%;}
    .p4{position: absolute;
        left:50%;
        top: 48%;}
    
    h1{color: antiquewhite;
        font-size: 20px;}
    
    .p5{position: absolute;
        left:50%;
        top: 40%;}
    
    .warnung{display: none;}
    

    .answer, .question{text-align: center;
                       }
}
@media screen and (min-width: 620px)
{
       
        img[alt=questionstart]{display: none;}
    }