body{
    background-image: url(./images/bg.png);
    text-align: center;
    }
div{        position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);}
img[alt=hintergrundbox]{position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);}

iframe  {   position: absolute;
            left: -247px;
            top: -105px;
            width: 500px;
            height: 300px;}
img[alt=banderole]{position: absolute;
                    left: 69px;
                    bottom: -150px;}